<!DOCTYPE html>
<html>

<head>
    <title>FILE UPLOAD DEMO</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/recorderjs/0.1.0/recorder.js'></script>
</head>

<body style='margin:0;padding:0;border: 0;'>
    <div>
        <div>
            <p style='text-align: center;font-size: 30px;'>客語語音辨識</p>
        </div>
    </div>
    <div
        style='text-align: center;margin: auto;width: auto;max-width: 800px;min-height: 500px;margin-top : 39px;border: 3px solid rgb(255, 203, 143)'>

        <p style='padding-top: 15%;text-align: center;font-size: 30px;'>請選擇錄音或上傳音檔</p>
        <meter id="volumeMeter" high="0.25" max="1" value="0"></meter>
        <br>
        <button class='record-btn' style='font-size: 40px;'>開始錄音</button>
        <br>
        <a id='recordTime'></a>
        <br>
        <button class='select-file-btn' style='font-size: 40px;'>選擇檔案</button>
        <br>
        <a id='downloadBtn' href="" download>
            <button id='downloadButton' style='font-size: 40px;' disabled="true">下載音檔</button>
        </a>
        <br>
        <input class='select-file-btn2' type='file' id='upload' accept='audio/*' style='visibility: hidden;'>
        <br>
        <a style='text-align: center;font-size: 30px;'>請選擇辨識語言</a>
        <br>
        <select style='font-size: 40px;'  id='lang' >
            <option value='2'>AI</option>
            <option value='0'>國語</option>
            <option value='1'>客語</option>
        </select>
        <br>
        <br>
        <audio id='audio' controls>
            <source src='' id='src' />
        </audio>
    </div>
    <p id='response' style='padding-left: 15%;text-align: left;font-size: 30px;'></p>
    <div>
        <p style='text-align: center;font-size: 30px;'>指導單位名稱</p>
    </div>
    <div id='main'></div>
    </div>
</body>
<script>

</script>
<script src='recorder.js'></script>

</html>