<!DOCTYPE html>
<html>

<head>
    <title>FILE UPLOAD DEMO</title>
    <link rel=stylesheet type='text/css' href='files/style.css'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/recorderjs/0.1.0/recorder.js'></script>
</head>

<body>
    <div class='top'>
        <div class="top-right">
            <img class='logo-image' src="files/logo.png">
        </div>
        <div class="top-left">
            <a class="btn" href="https://test.corelab.dev/">音檔辨識</a>
            <a class="btn" href="https://test.corelab.dev/youtube">影片辨識</a>
            <a class="btn">關於我們</a>
        </div>
    </div>
    <div class='area'>
        <p class='titletext'>客語語音辨識</p>
        <div class='main'>
            <a class='text'>請選擇辨識語言</a>
            <br>
            <select class='selectbox' id='lang'>
                <!-- <option value='0'>國語</option>
                <option value='1'>客語</option> -->
                <option value='2'>Whisper國語</option>
                <option value='3'>Whisper客語</option>
            </select>
            <br>
            <a class='text'>範例音檔</a>
            <br>
            <select class='selectbox' id='demo' onchange="useDemo()">
                <option value='0'>北四縣男聲</option>
                <option value='1'>北四縣女聲</option>
                <option value='2'>南四縣</option>
            </select>
            <br>
            <p class='text'>請選擇錄音或上傳音檔</p>
            <meter id='volumeMeter' high='0.25' max='1' value='0' style='visibility:hidden'></meter>
            <a id='recordTime'></a>
            <br>
            <button class='record-btn'>開始錄音</button>
            <button class='select-file-btn'>選擇檔案</button>
            <a id='downloadBtn' href='' download>
                <button class='download-btn' id='downloadButton'>下載音檔</button>
            </a>
            <br>
            <input class='select-file-btn2' type='file' id='upload' accept='audio/*' style='visibility: hidden;'>
            <br>
            <audio class='audio-player' id='audio' controls >
                <source src='' id='src' />
            </audio>
            <p id='demoResponse' class='text' hidden>　</p>
            <p id='response' class='text'>　</p>
            <div id='main'></div>
        </div>
    </div>
</body>
<script src='recorder.js'></script>

</html>