<!DOCTYPE html>
<html>

<head>
    <title>Youtube decode</title>
    <link rel=stylesheet type='text/css' href='files/style.css'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
</head>

<body>
    <div class='top'>
        <div class="top-right">
            <img class='logo-image' src="files/logo.png">
        </div>
        <div class="top-left">
            <a class="btn" href="https://domain/">音檔辨識</a>
            <a class="btn" href="https://domain/youtube">影片辨識</a>
            <a class="btn">關於我們</a>
        </div>
    </div>
    <div class='area'>
        <p class='titletext'>Youtube語音辨識</p>
        <div class='main'>
            <select class='smallselectbox' id='lang'>
                <option value='0'>tiny</option>
                <option value='1'>base</option>
                <option value='2'>small</option>
                <!-- <option value='3'>medium</option> -->
                <option value='4'>base_hakka</option>
            </select>
            <input class="smalltext" id='url' placeholder='Ex: mkggXE5e2yk'>
            <input type='button' class="smalltext" value='送出' onclick='reloadurl()'>
            <br>
            <p class="smalltext">說明：輸入影片的id即可，網址紅色的部分</p>
            <p class="smalltext">Ex: https://www.youtube.com/watch?v=<font color='red'>
                    mkggXE5e2yk</font>
            </p>
            <p id='decoding' class='text'></p>
            <div style='text-align: center;'>
                <div class="yt-player"  id='player' hidden=Ture></div>
            </div>
            <p id='response' class='text'></p>
        </div>
    </div>
    <script src='youtube.js'></script>

</html>