@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&family=Zen+Dots&family=Noto+Sans+TC&display=swap');

@keyframes up2down {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

body {
    font-family: 'Noto Sans TC', sans-serif;
    /* background-image: url(image/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover; */
    margin: 0;
    padding: 0;
    border: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
    cursor: default;
}

body::-webkit-scrollbar {
    display: none;
}

.top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* padding-left: 10%;
    padding-right: 10%; */
    /* background-color: #424752; */
}

.area {
    animation-name: up2down;
    animation-duration: 1s;
    animation-iteration-count: 1;
    align-items: stretch;
    border: 3px solid white;
    border-radius: 10px;
    background-color: #424752;
    color: white;
    display: flex;
    margin: auto;
    position: relative;
    /* top: 50px; */
    flex-direction: column;
    height: 80%;
    width: 80%;
}

.btn {
    background-color: #575b65;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    border-radius: 12px;
    height: 50px;
    transition: transform .1s;
    font-size: 30px;
}

.btn:hover {
    transform: scale(1.2);
    background-color: #171613;
}

.record-btn,
.select-file-btn,
.download-btn {
    background-color: #575b65;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    border-radius: 12px;
    height: 80px;
    transition: transform .1s;
    font-size: 40px;
}

.record-btn:hover,
.select-file-btn:hover,
.download-btn:hover {
    transform: scale(1.2);
    background-color: #171613;
}

.titletext {
    text-align: center;
    font-size: 40px;
    margin: 10px;
}

.main {
    text-align: center;
    margin: 10px;
}

.text {
    text-align: center;
    font-size: 30px;
}

.smalltext {
    text-align: center;
    font-size: 20px;
}

.selectbox {
    font-size: 30px;
    text-align: center;
}

.smallselectbox {
    font-size: 20px;
    text-align: center;
}